## Project information
site_name: Cose&Robe | Rielaborazioni dataset opendata, a lot things…
site_url: https://coseerobe.it/
site_author: gbvitrano
site_description: >-
    Quando i dati sono disponibili (open, machine readable e con la licenza giusta) ciascuno di noi può dare libero sfogo alle proprie competenze e alla propria fantasia per far parlare quei dati al meglio, scegliendo o creando la rappresentazione che ritiene più efficace per evidenziare quelli che si ritengono gli aspetti salienti. (cit. Nino Galante)


## Repository
# repo_name: coseerobe.github.io
# repo_url: https://github.com/coseerobe/coseerobe.github.io
# edit_uri: edit/main/docs/ #disables edit button

# Copyright
copyright: 'Ͻ 2023 | <b>cose&robe</b> è un&#39;idea di <a href="https://twitter.com/gbvitrano" target="_blank">Giovan Battista Vitrano</a> | <a href="https://coseerobe.github.io/tags/" title="Tags" target="_parent">Tags</a> | <a href="https://coseerobe.github.io/privacy/" title="Informativa privacy estesa" target="_parent">Privacy</a>
 <br> Tutti i contenuti sono in licenza <a href="https://creativecommons.org/licenses/by/4.0/deed.it" target="_blank">CC BY 4.0</a> tranne diversa indicazione. <br> Disclaimer: Questo è un blog amatoriale che non supporta finalità commerciali. <br>This is an amateur blog that does not support commercial purposes.'

theme:
  name: material
  highlightjs: true
  language: it
  palette:
#    - scheme: preference
    primary: white
    accent: red
#      toggle:
#        icon: material/weather-night
#        name: Switch to dark mode
#    - scheme: slate
#      primary: indigo
#      accent: indigo
#      toggle:
#        icon: material/weather-sunny
#        name: Switch to light mode
  language: it
  favicon: assets/img/favicon.png
  icon:
    annotation: material/star-four-points-circle
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
    tag:
      default: material/tag
      html: fontawesome/brands/html5
      js: fontawesome/brands/js
      css:  fontawesome/brands/css3    
      Incendi: fontawesome/solid/fire
      
  logo: assets/img/logo.png
  
  features:
  #  - header.autohide
  #  - navigation.path
    - toc.integrate
    - toc.follow
    - navigation.top
    - navigation.instant
 #   - navigation.prune
    - navigation.tabs
  #  - navigation.tabs.sticky
   # - navigation.sections
  #  - navigation.expand
    - navigation.tracking
    - navigation.indexes
    - content.code.annotate
    - content.action.edit
    - content.action.view
    - navigation.footer

  font:
    text: Nunito Sans
    code: Fira Code
  custom_dir: 'docs/assets/overrides'
  static_templates:
    - 404.html
    
extra:
# Google analytics
  analytics:
    provider: google
    property: G-Y2YZ7RDXWM
# Consenso ai cookie     
  consent:
    title: Consenso ai cookie
    description: >-
        <img src="https://coseerobe.it/assets/img/logo.svg" class="immagonobox resized33"  alt=Cose&#038;Robe &#8211; Rielaborazioni dataset opendata" title="Cose&#038;Robe &#8211; Rielaborazioni dataset opendata" width="100" border="0"><br><b>Questo sito, cose&robe.it.it utilizza i cookie, anche di terze parti, per migliorare la vostra esperienza di navigazione web.</b> <br>Chiudendo questo messaggio, scorrendo questa pagina o cliccando su qualunque suo elemento acconsenti all&rsquo;uso dei cookie.<br> Per maggiori informazioni o per negare il  consenso a tutti o ad alcuni cookie, consulta l&rsquo;<a href="https://coseerobe.it/privacy/" title="Informativa privacy estesa" target="_parent">informativa</a>!
    cookies:
      analytics:
        name: Google Analytics
        checked: true
    actions:
      - accept
      - manage   
      
# TAGS
  tags:
    HTML5: html
    JavaScript: js
    CSS: css
    Incendi: Incendi
    
  manifest: "manifest.webmanifest"
  
  social:
    - icon: ods
      link: http://opendatasicilia.it/
      name: opendatasicilia.it  
    - icon: fontawesome/brands/github
      link: https://github.com/coseerobe/coseerobe.github.io
      name: Repository GitHub  
    - icon: fontawesome/solid/envelope
      link: mailto:coseerobe.gbvitrano@gmail.com
      name: coseerobe.gbvitrano@gmail.com
    - icon: fontawesome/brands/twitter
      link: http://twitter.com/gbvitrano
      name: Twitter
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/gbvitrano
      name: Facebook      
    - icon: fontawesome/solid/rss
      link: https://arigadicomando.it/feed_rss_created.xml
      name: Feed RSS
    - icon: fontawesome/brands/creative-commons
      link: https://creativecommons.org/licenses/by-sa/4.0/deed.it
      name: Attribuzione - Condividi allo stesso modo 4.0 Internazionale (CC BY-SA 4.0)     
 #   - icon: fontawesome/brands/creative-commons-by
 #     link: https://creativecommons.org/licenses/by-sa/4.0/deed.it
 #     name: Attribuzione - Condividi allo stesso modo 4.0 Internazionale (CC BY-SA 4.0)   
 #   - icon: fontawesome/brands/creative-commons-sa
 #     link: https://creativecommons.org/licenses/by-sa/4.0/deed.it
 #     name: Attribuzione - Condividi allo stesso modo 4.0 Internazionale (CC BY-SA 4.0)         
         
plugins:
- search:
      lang: it
- glightbox:
      auto_caption: true 
- mkdocstrings
#- macros
#- charts
- tags:
    tags_file: tags.md
        
- blog:
    blog_dir: blog
    post_dir: blog/posts
    pagination_keep_content: true
    pagination_format: "$link_first $link_previous ~2~ $link_next $link_last"
    pagination_per_page: 5
    authors_file: blog/.authors.yml
    blog_toc: false
    categories_toc: false
    archive_toc: false
    post_url_format: "{categories}/{slug}"
    post_slugify_separator: "-"
    post_slugify: !!python/object/apply:pymdownx.slugs.slugify
      kwds:
        case: lower
    post_excerpt: optional
    archive_name: Archivio
    categories_slugify_separator: "-"
    categories_slugify: !!python/object/apply:pymdownx.slugs.slugify
      kwds:
        case: lower
   
- rss:
    match_path: blog/posts/.*
    use_git: false
    date_from_meta:
      as_creation: date
    categories:
      - categories
      - tags
      
# Social Card      
# - social:
#    cards_dir: assets/img/social

 # foglio di stile personalizzato
extra_css:
  - assets/stylesheets/gbextra.css
  # - assets/stylesheets/gbextra_00.css   
   
extra_javascript:
  # - https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js
  # - javascripts/tables.js
  - https://unpkg.com/mermaid/dist/mermaid.min.js
  - assets/javascripts/varie.js
  - assets/javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://cdn.jsdelivr.net/npm/vega@5
  - https://cdn.jsdelivr.net/npm/vega-lite@5
  - https://cdn.jsdelivr.net/npm/vega-embed@6

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - footnotes
  - meta
  - mkdocs-click
  - pymdownx.betterem:
        smart_enable: all
  - pymdownx.caret
  - pymdownx.critic:
        mode: view
  - pymdownx.details
  - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg
        options:
          custom_icons:
            - overrides/.icons        
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
        custom_fences:
          - name: mermaid
            class: mermaid
            format: !!python/name:pymdownx.superfences.fence_code_format
#          - name: vegalite
#            class: vegalite
#            format: !!python/name:mkdocs_charts_plugin.fences.fence_vegalite
  - pymdownx.tabbed:
        alternate_style: true
  - def_list      
  - pymdownx.tasklist:
        custom_checkbox: true
        clickable_checkbox: true
  - pymdownx.tilde
  - toc:
        permalink: true
        toc_depth: 3
  - pymdownx.arithmatex:
        generic: true
  - pymdownx.keys
  
# menu
nav:
 # - Home:  'https://coseerobe.it/'
 #  - index.md
  #  - blog/index.md    
  - Home: 
    - blog/index.md
  - Mappe: blog/category/mappe/  
  - News: blog/category/news/
  - Tutorial: blog/category/tutorial/  
  - Opendata: blog/category/opendata/
  - Link utili: link_utili.md 
  - Perché: perche.md  
